body {
    background-color: white;
    color: black;
}

img {
	border: 0;
}







.polaroids {
	background: #EEEEEE;
	margin:0px;
	padding:10px;
}

.polaroidcell {
	background: #EEEEEE;
	margin:0px;
	padding:15px;
}

.polaroid {
	border: 2px solid #000000;
	border-collapse: collapse;
}

.photoH {
	width: 300px;	
	display: block;
	margin: auto;
}

.photoV {
	height: 300px;	
	display: block;
	margin: auto;
}

.photocell {
	background: #FFFFFF;
	padding-top: 10px;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 5px;
	border:none;
	width: 300px;
	height: 300px;
}

.phototext {
	background: #FFFFFF;
	width: 300px;
	height: 50px;
	padding-top: 0px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	border:none;
	text-align: left;
	vertical-align: top;
}


