body {
    background-image: url("images/tiles.gif");
    background-repeat: repeat;
    background-color: white;
    color: black;
    font-family: 'CherryCreamSoda', Helvetica, sans-serif;
    font-style: normal;
    font-size: 1.0625em;
   /* 
   17px;
   red=#EA2020
   light blue=#82E8F6
   pink=#FFBAD7
   white=#FFFFFF
   black=#000000
   grey=#585858
   */
}

h1 {
    color: black;
    background: #82E8F6;
    border-radius: 10px;
    padding: 10px;
    font-size: 2.8125em; 
    /*45px;*/
    }
    
h2 {
    color: white;
    background-color: #FFBAD7;
    border-radius: 10px;
    padding: 7px; 
    height: 30px;
    font-size: 1.75em;
    /*28px;*/
}

h3 {
    font-size: 1.3125em;
    /*21px;*/
}

.textbox-area {
    color: black;
    background: #FFFFFF;
    border-radius: 10px;
    padding: 10px; 
}

main {
    top:50px;
}

@font-face {
	font-family: 'CherryCreamSoda';
	src: url('misc/CherryCreamSoda.ttf'); 
	src: local('Cherry Cream Soda'),
	     local('Cherry-Cream-Soda'),
             url('misc/CherryCreamSoda.ttf') 
	     format('truetype');
}

ul {
    list-style-image: url('images/bulletrecord.gif');
}

li {
    /*margin: 0px 0px 3px 0px;*/
    padding: 1px;
}

img {
	border: 0;
}

.menu {
    color: black;
    background: #FFFFFF;
    border-radius: 10px;
    padding: 10px;  
}

.albumheading {
	padding-top: 20px;
}

.photo {
    width: 300px;
}

.phototablecell {
	width: 310px;
}

.phototext {
	width: 310px;
}

