body {
    background-image: url("tiles.gif");
    background-repeat: repeat;
    background-color: white;
    color: black;
    font-family: 'CherryCreamSoda', Helvetica, sans-serif;
    font-size: 16px;
   // font: 15px Arial, Helvetica, sans-serif;
   //red=#EA2020
   //light blue=#82E8F6
   //pink=#FFBAD7
   //white=#FFFFFF
   //black=#000000
   //grey=#585858
}

h1 {
    color: black;
    background: #82E8F6;
    border-radius: 10px;
    padding: 10px;
    font-size: 45px;
    }
    
h2 {
    color: white;
    background-color: #FFBAD7;
    border-radius: 10px;
    padding: 7px; 
    height: 30px;
    font-size: 28px;
}

.textbox-area {
    color: black;
    background: #FFFFFF;
    border-radius: 10px;
    padding: 10px; 
}

main {
    top:50px;
}

@font-face {
	font-family: 'CherryCreamSoda';
	src: url('CherryCreamSoda.ttf'); 
	src: 
		local('Cherry Cream Soda'),
		local('Cherry-Cream-Soda'),
        url('CherryCreamSoda.ttf') 
	    format('truetype');
}

ul {
    list-style-image: url('bulletrecord.gif');
}

li {
    //margin: 0px 0px 3px 0px;
    padding: 1x;
}
