body {
    background-color: white;
    color: black;
    font: 15px arial, sans-serif;
}

h1 {
    color: black;
}
h2 {
    color: white;
    background-color: navy;
    border: 5px solid navy;
    font: 16px arial, sans-serif;
}
banner {
    left: 0px;
    top: 0px;
    border: 1px solid red;
}
logo {
    left: 0px;
    top: 0px;
    border: 1px solid green;
}

